@model IEnumerable<IzimpisiApplicationsOffice.Models.Applications.Application>

@{
    ViewBag.Title = "Applications";
}

<h2>Your Applications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeedResidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalStatement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeedResidence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalStatement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @if(item.Course == null && User.Identity.Name != "admin@gmail.com")
                {
                    <td>
                        @Html.ActionLink("Add Course", "Courses/Index")
                    </td>
                }
            @if(User.Identity.Name == "admin@gmail.com")
            {
                <td>
                    @Html.ActionLink("Change Status", "EditAdmin", new { id = item.Id }) 
                </td>
            } 
            else
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
            
        </tr>
    }
<tr>
    <td>
        @Html.ActionLink("Add Application", "Create")
    </td>
</tr>

</table>
